<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">
		        <img width="90px" src="/public/img/logo3.png" alt="">
		      </a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <form class="navbar-form navbar-left">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
		      </form>
		      <ul class="nav navbar-nav navbar-right">
		       <!-- {{ if user }} -->
		        <a class="btn btn-default navbar-btn" href="/topics/new">发起</a>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img width="20" height="20" src="../public/img/avatar-max-img.png" alt=""> <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li class="dropdown-current-user">
		              当前登录用户: <!-- {{ user.nickname }} -->
		            </li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">个人主页</a></li>
		            <li><a href="/settings/profile">设置</a></li>
		            <li><a href="/logout">退出</a></li>
		          </ul>
		        </li>
		        <!-- {{ else }} -->
		        <a class="btn btn-primary navbar-btn" href="/login">登录</a>
		        <a class="btn btn-success navbar-btn" href="/register">注册</a>
		      <!--  {{ /if }} -->
		      </ul>
		    </div>
		  </div>
		</nav>
	<!-- --------------------------------------------------------------------  -->
	<section class="container">
	  <ul class="media-list">
	    <li class="media">
	      <div class="media-left">
	        <a href="#">
	            <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
	          </a>
	      </div>
	      <div class="media-body">
	        <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
	        <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2017-10-20 13:45</p>
	      </div>
	    </li>
	    <li class="media">
	      <div class="media-left">
	        <a href="#">
	            <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
	          </a>
	      </div>
	      <div class="media-body">
	        <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
	        <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2017-10-20 13:45</p>
	      </div>
	    </li>
			<li class="media">
			  <div class="media-left">
			    <a href="#">
			        <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
			      </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
			    <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2017-10-20 13:45</p>
			  </div>
			</li>
			<li class="media">
			  <div class="media-left">
			    <a href="#">
			        <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
			      </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
			    <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2017-10-20 13:45</p>
			  </div>
			</li>
			<li class="media">
			  <div class="media-left">
			    <a href="#">
			        <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
			      </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
			    <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2017-10-20 13:45</p>
			  </div>
			</li>
			<li class="media">
			  <div class="media-left">
			    <a href="#">
			        <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
			      </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
			    <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2017-10-20 13:45</p>
			  </div>
			</li>
			<li class="media">
			  <div class="media-left">
			    <a href="#">
			        <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
			      </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
			    <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2017-10-20 13:45</p>
			  </div>
			</li>
			<li class="media">
			  <div class="media-left">
			    <a href="#">
			        <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
			      </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
			    <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2017-10-20 13:45</p>
			  </div>
			</li>
	  </ul>
	  <nav aria-label="Page navigation">
	    <ul class="pagination">
	      <li>
	        <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	      </li>
	      <li class="active"><a href="#">1</a></li>
	      <li><a href="#">2</a></li>
	      <li><a href="#">3</a></li>
	      <li><a href="#">4</a></li>
	      <li><a href="#">5</a></li>
	      <li>
	        <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	      </li>
	    </ul>
	  </nav>
	</section>
	
	</body>
</html>
